<nz-layout class="app-layout">
  <nz-layout>
    <nz-header class="site-page-header">
      Zorro Task List
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
      <app-create-task-modal [userList]="appUsersList"></app-create-task-modal>
      <button nz-button nzType="primary" nzShape="circle" nzSize='large' (click)="createTaskDialogToggle()"><i nz-icon nzType="file-add"></i></button>
    </nz-content>
  </nz-layout>
</nz-layout>
