::ng-deep .cdk-drag-preview {
  display: table;
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0;
}

.zorroList {
  min-height: 60px;
  background: white;
  overflow: hidden;
  display: block;
}

.zorroBox {
  padding: 20px 20px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.zorroBox:last-child {
  border: none;
}

.zorroList.cdk-drop-list-dragging .zorroBox:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.general-table {
  max-height: 30vh;
  overflow-y: auto;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.priority-table {
  max-height: 72vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 540px){
  .button-group {
    //min-width: 45%;
    display: flex;
    flex-direction: row-reverse;
  }
  .ant-col {
    width: 100%;
  }
}
@media only screen and (max-width: 768px){
  .button-group {
    min-width: 45%;
    display: flex;
    flex-direction: row-reverse;
  }
}
