<h1> Today's TaskList </h1>
<div nz-row class="priority-table">
  <div nz-col nzSpan="8">
    <nz-table [nzData]="high" [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>High Priority</th>
        </tr>
      </thead>
        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
          <tr
          cdkDropList
          #highList="cdkDropList"
          [cdkDropListData]="high"
          [cdkDropListConnectedTo]="[mediumList, lowList]"
          class="zorroList"
          (cdkDropListDropped)="drop($event)">
          <div class="zorroBox" *ngIf="high.length === 0">
            <nz-skeleton [nzActive]="true"></nz-skeleton>
          </div>
          <div class="zorroBox" *ngFor="let item of high" cdkDrag>
            <div>
              <div>
                {{item['message']}}
              </div>
              <div class="dueDate" *ngIf="item['due_date']">
                Due-date: {{item['due_date'] | date}}
              </div>
              <div class="dueDate" *ngIf="item['assigned_to']">
                Assigned To: {{userList[item['assigned_to']-1]['name']}}
              </div>
            </div>
            <div class="button-group">
              <app-task-button-group [item]='item'></app-task-button-group>
            </div>
          </div>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div nz-col nzSpan="8">
    <nz-table [nzData]="medium" [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>Medium Priority</th>
        </tr>
      </thead>
        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
          <tr
          cdkDropList
          #mediumList="cdkDropList"
          [cdkDropListData]="medium"
          [cdkDropListConnectedTo]="[highList, lowList]"
          class="zorroList"
          (cdkDropListDropped)="drop($event)">
          <div class="zorroBox" *ngIf="high.length === 0">
            <nz-skeleton [nzActive]="true"></nz-skeleton>
          </div>
          <div class="zorroBox" *ngFor="let item of medium" cdkDrag>
            <div>
              <div>
                {{item['message']}}
              </div>
              <div class="dueDate" *ngIf="item['due_date']">
                Due-date: {{item['due_date'] | date}}
              </div>
              <div class="dueDate" *ngIf="item['assigned_to']">
                Assigned To: {{userList[item['assigned_to']-1]['name']}}
              </div>
            </div>
            <div class="button-group">
              <app-task-button-group [item]='item'></app-task-button-group>
            </div>
          </div>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div nz-col nzSpan="8">
    <nz-table [nzData]="low" [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>Low Priority</th>
        </tr>
      </thead>
        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
          <tr
            cdkDropList
            #lowList="cdkDropList"
            [cdkDropListData]="low"
            [cdkDropListConnectedTo]="[highList, mediumList]"
            class="zorroList"
            (cdkDropListDropped)="drop($event)">
            <div class="zorroBox" *ngIf="high.length === 0">
              <nz-skeleton [nzActive]="true"></nz-skeleton>
            </div>
          <div class="zorroBox" *ngFor="let item of low" cdkDrag>
            <div>
              <div>
                {{item['message']}}
              </div>
              <div class="dueDate" *ngIf="item['due_date']">
                Due-date: {{item['due_date'] | date}}
              </div>
              <div class="dueDate" *ngIf="item['assigned_to']">
                Assigned To: {{userList[item['assigned_to']-1]['name']}}
              </div>
            </div>
            <div class="button-group">
              <app-task-button-group [item]='item'></app-task-button-group>
            </div>
          </div>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
