<nz-modal [(nzVisible)]="isVisible" nzTitle="{{title}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="handleOk()">
    <nz-form-item>
      <nz-form-label required [nzSpan]="6" nzFor="message">Task to do</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="message" type="text" id="message">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="dueDate">Due Date</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="due_date" type="date" id="dueDate">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="priority">Priority</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-select nz-input  formControlName="priority" id="priority">
          <nz-option *ngFor="let lvl of priority; let i = index" nzValue="{{i+1}}" nzLabel="{{lvl}}"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="assignedTo">Assigned to</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-select nz-input  formControlName="assigned_to" id="assignedTo">
          <nz-option *ngFor="let user of userList; let i = index" nzValue="{{i+1}}" nzLabel="{{user.name}}"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item >
  </form>
</nz-modal>
